<header tuiNavigationHeader>
  <div tuiNavigationLogo>
    <label
      #drawerToggle
      data-drawer-hide="my-drawer"
      for="my-drawer"
      class="btn btn-square btn-ghost lg:hidden"
    >
      <svg-icon key="hamburger" />
    </label>
    <tui-icon icon="@tui.cat" />
    <span id="menu-title" tuiFade class="tui-text_body-m-2"
      >Baza karm dla kotów</span
    >
  </div>
  <button
    appearance="accent"
    iconStart="@tui.calculator"
    tuiButton
    type="button"
  >
    <a [style.color]="'white'" [href]="'https://kalkulator.kotopedia.pl'"
      >Kalkulator</a
    >
  </button>
  <hr />
  {{ userId ? userId : '' }}
</header>

<ng-content />

<div class="lg:hidden">
  <div class="drawer">
    <input type="checkbox" id="my-drawer" class="drawer-toggle" />
    <div class="drawer-side" [style.z-index]="101">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul
        class="menu p-4 overflow-y-auto w-80 mt-16 lg:mt-0"
        [style.background]="'#1b1f3b'"
      >
        <li>
          <span [style.color]="'white'">Karmy</span>
          <ul class="pl-4">
            @for (link of links.mobile; track link.route) {
              <li class="pb-1">
                <a
                  [style.color]="'white'"
                  (click)="linkClicked()"
                  [routerLink]="[link.route]"
                  [class.active-link]="router.url === link.route"
                  >{{ link.name }}</a
                >
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
