<div class="login-page">
  <div class="login-container">
    <form [formGroup]="loginForm">
      <div class="icon-container">
        <tui-icon icon="@tui.cat" />
      </div>

      <tui-input formControlName="email">
        Wpisz e-mail
        <span class="tui-required"></span>
        <input
          autocomplete="new-password"
          translate="nFo"
          tuiTextfieldLegacy
          type="email"
        />
      </tui-input>
      <tui-error class="mb-4" [error]="loginForm.invalidControl('email')" />

      <tui-input formControlName="password" translate="no">
        Wpisz hasło
        <span class="tui-required"></span>
        <input tuiTextfieldLegacy type="password" />
      </tui-input>
      <tui-error class="mb-4" [error]="loginForm.invalidControl('password')" />

      <bk-captcha #captcha (captchaEntered)="loginForm.markAllAsTouched()" />

      <button
        class="mt-2"
        size="m"
        tuiButton
        type="button"
        [disabled]="loginForm.invalid || !this.captcha()?.token"
        (click)="login()"
      >
        Zaloguj
      </button>
    </form>
  </div>
</div>
