<div class="login-page">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="icon-container">
        <tui-icon icon="@tui.cat" />
      </div>

      <tui-textfield>
        <label tuiLabel i18n="@@login.emailLabel">Wpisz e-mail</label>
        <input
          autocomplete="username"
          formControlName="email"
          tuiInput
          type="email"
        />
      </tui-textfield>
      <tui-error class="mb-4" [error]="loginForm.invalidControl('email')" />

      <tui-textfield>
        <label tuiLabel i18n="@@login.passwordLabel">Wpisz hasło</label>
        <input
          autocomplete="current-password"
          formControlName="password"
          tuiInput
          type="password"
        />
      </tui-textfield>
      <tui-error class="mb-4" [error]="loginForm.invalidControl('password')" />

      <bk-captcha #captcha (captchaEntered)="loginForm.markAllAsTouched()" />

      <button
        class="mt-2"
        size="m"
        tuiButton
        type="submit"
        [disabled]="loginForm.invalid || !this.captcha()?.token"
      >
        <ng-container i18n="@@login.submit">Zaloguj</ng-container>
      </button>
    </form>
  </div>
</div>
