<div *ngIf="(data | async) as grid; else other;" class="control-section">
    <!-- <bk-filter-dialog></bk-filter-dialog> -->
    <bk-search-input (searchText)="search($event)"></bk-search-input>
    <ejs-grid [dataSource]='grid' height=700 allowPaging='true' [allowSorting]="true" [sortSettings]='sortOptions'
        [loadingIndicator]='loadingIndicator' [allowFiltering]="true" [allowMultiSorting]="false" width="auto"
        class="sortingenabled" [pageSettings]='initialPage' [gridLines]="'Both'"
        (dataStateChange)='dataStateChange($event)'>
        <e-columns>
            <e-column field="brand_name" headerText='Firma' headerTextAlign="left" textAlign='Left' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.brand_name}}'>
                        {{data.brand_name}}
                    </div>
                </ng-template>
            </e-column>
            <e-column field="nazwa" headerText='Nazwa' headerTextAlign="left" textAlign='Left' width=200>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.nazwa}}'>
                        {{data.nazwa}}
                    </div>
                </ng-template>
            </e-column>
            <e-column  field="flavors" headerText='Smak' headerTextAlign="left" textAlign='Left' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.flavors}}'>
                        {{data.flavors}}
                    </div>
                </ng-template>
            </e-column>
            <e-column field="wegle_sucha" headerText='Węglowodany' textAlign='right' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.wegle_sucha}}'>
                        <span
                            [ngClass]="{'text-red-700': data.wegle_sucha > 10, 'text-orange-600': data.wegle_sucha > 5 && data.wegle_sucha <= 10, 'text-black': data.wegle_sucha <= 5 }">
                            {{ data.wegle_sucha }}
                        </span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field="bialko_sucha" headerText='Białko' textAlign='right' width=100>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.bialko_sucha}}'>
                        <span
                            [ngClass]="{'text-red-700': data.bialko_sucha < 40, 'text-black': data.bialko_sucha >= 40}">
                            {{ data.bialko_sucha }}
                        </span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field="tluszcz_w_suchej" headerText='Tłuszcz' textAlign='right' width=100>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.tluszcz_w_suchej}}'>
                        <span
                        [ngClass]="{'text-red-700': data.tluszcz_w_suchej > 30, 'text-black': data.tluszcz_w_suchej <= 30}">
                        {{ data.tluszcz_w_suchej }}
                    </span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field="fosfor_sucha" headerText='Fosfor' textAlign='right' width=100>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.fosfor_sucha}}'>
                        <span
                            [ngClass]="{'text-red-700': data.fosfor_sucha > 1 || data.fosfor_sucha === 0, 'text-black': data.fosfor_sucha <= 1 && data.fosfor_sucha !== 0}">
                            {{ data.fosfor_sucha }}
                        </span>
                    </div>
                </ng-template>
            </e-column>
            <!-- <e-column field="wapn_fosfor" headerText='Wapń:Fosfor' textAlign='right' width=100>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.wapn_fosfor}}'>
                        {{data.wapn_fosfor}}
                    </div>
                </ng-template>
            </e-column> -->
            <e-column field="kcal_100" headerText='Kcal/100g' textAlign='right' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.kcal_100}}'>
                        {{data.kcal_100}}
                    </div>
                </ng-template>
            </e-column>
            <e-column field='opis' headerText='Skład (Opis)' headerTextAlign="left" textAlign='left' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" (click)="tooltip.showModal()">
                        <span class="cursor-pointer">{{data.opis}}</span>
                        <bk-dismissable-tooltip #tooltip [identifier]="data.id" [text]="data.opis">

                        </bk-dismissable-tooltip>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='categories' headerTextAlign="left" headerText='Uwagi' textAlign='Left' width=150>
                <ng-template #template let-data>
                    <div class="ellipsis-style" title='{{data.categories}}'>
                        {{data.categories}}
                    </div>
                </ng-template>
            </e-column>
            <e-column headerText='Data edycji' headerTextAlign="left" textAlign='Left'
                clipMode='EllipsisWithTooltip' width=120 [allowSorting]="false">
                <ng-template #template let-data>
                    <span> {{ data.updated_at | utcToLocal: 'fullDate' }}</span>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>
<ng-template #other>
    <div class="flex flex-col gap-4">
        <div class="skeleton h-10 w-45"></div>
        <div class="skeleton h-128 w-full"></div>
    </div>
</ng-template>